@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Больница </h1>
    <p> Лучшая дурка (у нас есть бесплатные печеньки) </p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Visits" asp-action="Index" class="btn btn-primary"> Visits</a>
        <a asp-controller="Treatments" asp-action="Index" class="btn btn-primary"> Treatments</a>
        <a asp-controller="Structures" asp-action="Index" class="btn btn-primary"> Structures</a>
        <a asp-controller="Schedules" asp-action="Index" class="btn btn-primary"> Schedules</a>
        <a asp-controller="Rooms" asp-action="Index" class="btn btn-primary"> Rooms</a>
        <a asp-controller="Positions" asp-action="Index" class="btn btn-primary"> Positions</a>
        <a asp-controller="People" asp-action="Index" class="btn btn-primary"> People</a>
        <a asp-controller="Patientfeatures" asp-action="Index" class="btn btn-primary"> Patientfeatures</a>
        <a asp-controller="Medicationprescriptions" asp-action="Index" class="btn btn-primary"> Medicationprescriptions</a>
        <a asp-controller="Medicationcatalogs" asp-action="Index" class="btn btn-primary"> Medicationcatalogs</a>
        <a asp-controller="Inventoryresults" asp-action="Index" class="btn btn-primary"> Inventoryresults</a>
        <a asp-controller="Inventories" asp-action="Index" class="btn btn-primary"> Inventories</a>
        <a asp-controller="Equipments" asp-action="Index" class="btn btn-primary"> Equipments</a>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-primary"> Employees</a>
    }
</div>
